html, body{
    background-color: lightblue;
    margin: 0;
    padding:0;
    height:100%;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

nav{
     position: fixed;
    width: 100%;
    top: 0;
}

/*navigasjon*/
.navigasjon {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
  
.navigasjon a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
.navigasjon a:hover {
    background-color:white;
    color: black;
}

.navigasjon a.active {
    background-color: lightcoral;
    color: white;
}

/*overskrifter*/
.headerbox {
    height: min-content;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
  
.photoheader{
    width: 100%;
}

h2{
  font-size: 30px;
}

/*tekstboks forside*/
.text-container{
  text-align: center;
  margin: auto;
  border: solid 1px;
  background-color: aliceblue;
  width: 70%;
  padding: 10px;
}

/*bokser staff og schedule*/
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
.content-box{
    background-color: aliceblue; 
    border: 1px solid;   
    width: 20%;
    text-align: center;
    padding: 10px;
}

.schedule-text{
    text-align: left;
}
/*bilder*/
.photos {
    height: 18%;
}

.photoTeam{
    width: 50%;
    height: 15%;
    object-fit: cover;
}

.schedulephoto{
    width: 100%;
}

/*har vi en side for kilder?*/
#boxsource{
    float: left;
    height: 600px;
    width: 80%;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 9%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border: 1px solid;
}

/*kontaktside*/
#boxcontact {
    height: fit-content;
    width: 50%;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 24%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid;
}

#message{
    height:150px; 
    width: 98%;
    
}

.length{
    height: 25px; 
    width: 98%;
}

.textinfo{
   text-align: left;
}

#submitbutton{
    height:30px; 
    width:25%;
    margin-left: 37%
}

.signup{
    width: 97%;
    height: 40px;
}

.buttonsubmit{
    width: 30%;
    height: 40px;
    
}

/*footer på alle sider*/
footer{
    text-align: center;
    height: min-content;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2%;
}

/*small pc css*/
@media screen and (max-width: 1024px){
    .wrapper{
        flex-direction: column;
    }

    .content-box{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .test{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .photoTeam{
        width: 30%;
        object-fit: scale-down;
        max-height: 300px;
    }

    .team-text{
        width: 70%;
        padding: 5px;
    }
    
    .headerbox{
        font-size: 32px;
    }
}

/*phone and tablet css*/
@media screen and (max-width: 768px){
    .test{
        flex-direction: column;
    }

    .photoTeam{
        width: 50%;
        object-fit: scale-down;
        margin: auto;
    }

    .team-text{
        width: 100%;
    }

    .navigasjon a{
        font-size: 15px;
    }

    .headerbox{
        font-size: 25px;
    }
}
