body{
    background-color: lightblue;
    margin: 0;
}

.Overskrift{
    font-family: sans-serif;

}
  
.navigasjon {
    overflow: hidden;
    background-color: #333;
}
  
.navigasjon a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navigasjon a:hover {
    background-color:red;
    color: black;
}

.navigasjon a.active {
    background-color: blue;
    color: white;
}
  
.text-container{
  text-align: center;
  margin: auto;
  border: solid salmon;
  width: 70%;
}

.picture{
  width: 500px;
  border: solid slateblue;
}

.content{
  display: flex;
  justify-content: space-evenly;
  border: greenyellow groove;
}