body{
    background-color: lightblue;
    margin: 0;
}

.Overskrift{
    font-family: sans-serif;

}
  
.navigasjon {
    overflow: hidden;
    background-color: #333;
}
  
.navigasjon a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navigasjon a:hover {
    background-color:red;
    color: black;
}

.navigasjon a.active {
    background-color: blue;
    color: white;
}

h2{
  text-align: center;
  font-size: 40px;
}
  
.text-container{
  text-align: center;
  margin: auto;
  border: solid salmon;
  width: 70%;
  font-size: 20px;
  line-height: 1.5;
  padding: 10px;
}

.picture{
  width: 500px;
  border: solid slateblue;
}

.content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.text-info{
  width: 40%;
  border: solid salmon;
  padding: 10px;
}

h3{
  font-size: 30px;
}
#topbar {
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}
#headerbox {
    float: left;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.box {
    float: left;
    height: 550px;
    width: 400px;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
     text-align: center;
    border: 1px solid;
}
.photos {
    height: 200px;
}


